@import 'vars.less';

body{background-color:#00CCFF !important;}
header, #header-spacer{
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
		width:27% !important;
		top: 0;
		min-width:0 !important;
		max-width:100% !important;
		float:left;
		min-width:auto;
		padding:0;
		margin:0;
		border:0;
		box-sizing:content-box !important;
	}
}
.corpo{
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
		float:left;
		width: 72%;
		overflow:visible !important;
		padding:0;
		margin:0;
		border:0;
		box-sizing:content-box !important;
	}
	background-color:#00CCFF;
	h1{
		padding:0 0 0 85px;
		.amatic(80px);
	}
	h2{
		.arvo(14px);
		color:#000;
		line-height:120%;
		margin:10px 0;
		padding:0 0 0 85px;		
	}
	ul{
		padding:0 0 0 85px;
		list-style:none;
		li{
			.inline;
			margin:5px;
			a{
				display:block;
				width:170px;
				height:100px;
				background-color:#fff;
				img{
					display:block;
					margin:auto;
				}
				.transition;
				&:active, &:visited{}
				&:hover{
					.transition;
				}
			}
		}
	}
	@media only screen and (min-width: 0px) and (max-width: 880px), only screen and (max-device-width:1024px) {
		h1, h2{
			margin:0;
			padding:0 0 0 9%;
		}
		ul{
			padding:0 0 0 9%;	
		}
	}
}