@import 'vars.less';

body{background-color:#00CCFF !important;}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
	html body .main header{
		left:0;
		top: 0;
		width:28%;
		min-width:auto;
		max-width:auto;
		float:left;
		padding:0;
		margin:0;
		border:0;
		display:block;
	}
}
.corpo{
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
		position:absolute;
		left:28%;
		top:0;
		width:72%;
		min-width:auto;
		max-width:auto;
		float:left;
		padding:0;
		margin:0;
		border:0;
		box-sizing:content-box !important;
		overflow:visible !important;
	}
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait){width:68%;}
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape){width:72%;}
	background-color:#00CCFF;
	.borderBox;
	h1{
		.respPadding(0,0,0,85px, 936px);
		@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
			padding-left: 0;
		}
		.amatic(20px);
		a{
			color:#000;
			&:active, &:visited{color:#000;}
			&:hover{color:#000;}
		}
		&.apptit{
			.amatic(50px);
			color:#000;
			padding:30px 0 0 115px;
			vertical-align: middle;
			img{vertical-align: middle; margin-right:15px;}
			@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
				padding-left: 0;
			}
		}
	}
	h2{
		.amatic(80px);
		color:#EED763;
		line-height: 140%;
	}
	.links{
		.respWidth(700px, 936px);
		margin:0 auto;
		padding:40px 0;
		overflow:hidden;
		a{
			margin:30px;
			.transition;
			.inline;
			&:active, &:visited{}
			&:hover{}
		}
		@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
			width:100%;
			a{
				width:100%;
				display:block;
				&:active, &:visited{}
				&:hover{}
			}
		}
	}
}