@import 'vars.less';

html{
	font-size:16px;
	width:100%;
	min-height:100%;
	body{
		background-color:#F9F9C7;
		width:100%;
		min-height:100%;
		@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape), only screen and (min-width: 481px) and (max-width: 880px) and (orientation:portrait){height:auto;}
		.main{
			width:100%;
			min-height:100%;
			position:relative;
			@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px),
			only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape),
			only screen and (min-width: 481px) and (max-width: 880px) and (orientation:portrait){
				height:auto;
			}
			#header-spacer{
				.respWidth(415px);
				min-width:240px;
				height:100%;
				float:left;
				display:block;
				@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px),
				only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape),
				only screen and (min-width: 481px) and (max-width: 880px) and (orientation:portrait){
					min-width:auto;
				}
				@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px){
					display:none;
				}
			}
			header{
				background:url('../_imgs/layout/bg-menu.jpg') #F9F9C7 top left no-repeat;
				background-size:100% auto;
				min-height:100%;
				position:fixed;
				z-index:9;
				left:0;
				top:0;
				.respWidth(415px);
				min-width:240px;
				.transition(all,.1s,ease-in);
				#link-home{
					.respMargin(25px, 0, 25px, 50px, 415px);
					display: block;
					img{width:120%;}
				}
				nav{
					ul{
						list-style:none;
						li{
							display:block;
							margin:0 0 0 0;
							padding:0;
							height:22px;
							overflow:hidden;
							a{
								padding:0 10px 0 22px;
								margin:0;
								height:22px;
								line-height:24px;
								overflow:hidden;
								.arvo(14px);
								color:#fff;
								background-color:#000;
								display:inline-block;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover, &.ativo{
									background-color:@azul;
									color:#000;
								}
							}
						}
					}
				}
				@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px){
					width:100% !important;
					float:none !important;
					min-height:188px !important;
					height:auto !important;
					display: block  !important;
					padding-bottom:10px;
					position:relative !important;
					overflow:hidden;
					#link-home{
						margin:5px 0 10px 3px;
						display: block;
						max-width:100%;
						img{max-width:90%;}
					}
					nav{
						ul{
							list-style:none;
							li{
								.inline;
								a{
									.transition;
									&:active, &:visited{}
									&:hover, &.ativo{}
								}
							}
						}
					}
				}
				#assinatura.home{
					@media only screen and (min-width: 881px), only screen and (min-device-width: 1025px){
						display:block;
						position:fixed;
						text-align:center;
						z-index:999999;
						bottom:0;
						left:0;
						.respWidth(415px);
					}
					@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (min-width: 481px) and (max-width:880px){
						display:block;
						position:absolute;
						text-align:center;
						z-index:999999;
						bottom:0;
						left:0;
						width:100%;
					}
					@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px){
						display:none;
					}
					background-color:#f9f9c7;
					padding:4px 0;
					a{
						display:block;
						color:#000;
						.verdana(9px);
						span{
							border-bottom:1px #f9f9c7 dotted;
							.transition;
						}
						img{
							vertical-align:middle;
							margin-left:2px;
						}
						&:active, &:visited{ color:#000; }
						&:hover{
							span{
								border-bottom:1px #000 dotted;
							}
						}
					}
				}
			}
			.corpo{
				.respWidth(@largura_referencia - 415px);
				float:left;
				@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px){
					float:none !important;
					display:block !important;
					width:100% !important;
					position:relative !important;
					min-height:285px !important;
					left:0 !important;
				}
			}
			#assinatura.interna{
				@media only screen and (min-width: 881px), only screen and (min-device-width: 1025px){
					display:none;
				}
				@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (min-width: 481px) and (max-width:880px){
					display:none;
				}
				@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px){
					display:block;
					position: relative;
					text-align:center;
					width:100%;
					clear:both;
				}
				background-color:#f9f9c7;
				padding:4px 0;
				a{
					display:block;
					color:#000;
					.verdana(9px);
					span{
						border-bottom:1px #f9f9c7 dotted;
						.transition;
					}
					img{
						vertical-align:middle;
						margin-left:2px;
					}
					&:active, &:visited{ color:#000; }
					&:hover{
						span{
							border-bottom:1px #000 dotted;
						}
					}
				}
			}
		}
	}
}