.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.borderBox {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
body {
  background-color: #00CCFF !important;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  header,
  #header-spacer {
    width: 100%;
    display: block;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
  header,
  #header-spacer {
    width: 27% !important;
    top: 0;
    min-width: 0 !important;
    max-width: 100% !important;
    float: left;
    min-width: auto;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box !important;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
  header {
    position: fixed !important;
  }
}
.corpo {
  background-color: #00CCFF;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  .corpo {
    width: 100%;
    display: block;
    overflow: visible !important;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
  .corpo {
    float: left;
    width: 72%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box !important;
  }
}
.corpo h1 {
  padding: 0 0 0 85px;
  font-family: 'Arvo', serif;
  font-size: 1.25em;
  font-weight: normal;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  .corpo h1 {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.corpo h2.categoria {
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  color: #000;
  background-color: #EED763;
  padding: 2px 10px;
  margin: 10px 0 10px 85px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.corpo ul#lista-posts {
  list-style: none;
  padding: 0 0 0 85px;
  font-size: 0;
}
.corpo ul#lista-posts li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 220px;
  min-height: 230px;
  margin: 0 10px 20px 0;
}
.corpo ul#lista-posts li a {
  font-size: 16px;
  position: relative;
  height: 230px;
  background-color: #fff;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.corpo ul#lista-posts li a .imagem {
  width: 208px;
  height: 128px;
  padding: 6px 6px 0 6px;
  margin-bottom: ;
  overflow: hidden;
}
.corpo ul#lista-posts li a .imagem img {
  width: 208px;
}
.corpo ul#lista-posts li a .data {
  position: absolute;
  overflow: hidden;
  left: 10px;
  bottom: 20px;
  width: 46px;
  height: 80px;
  text-align: center;
  background: url('../_imgs/layout/bg-data.png') center top no-repeat;
  color: #fff;
}
.corpo ul#lista-posts li a .data span {
  display: block;
}
.corpo ul#lista-posts li a .data .dia {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 100%;
  padding-top: 13px;
}
.corpo ul#lista-posts li a .data .mes {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 100%;
  padding-top: 2px;
}
.corpo ul#lista-posts li a .data .ano {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 0.75em;
  font-weight: normal;
  line-height: 100%;
  padding-top: 2px;
}
.corpo ul#lista-posts li a .titulo {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 0.875em;
  font-weight: normal;
  padding: 8px 6px 0 65px;
  color: #373435;
  line-height: 120%;
}
.corpo ul#lista-posts li a .barra {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 5px;
  width: 210px;
  background-color: #69E2FF;
  height: 20px;
  line-height: 20px;
  color: #373435;
  font-family: 'Arvo', serif;
  font-size: 0.625em;
  font-weight: normal;
}
.corpo ul#lista-posts li a .barra span {
  float: right;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 0.9375em;
  font-weight: normal;
  line-height: 243%;
}
.corpo ul#lista-posts li a:hover {
  background-color: #69E2FF;
}
.corpo ul#lista-posts li a:hover .barra {
  background-color: #A83978;
  color: #fff;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  .corpo ul#lista-posts {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .corpo ul#lista-posts li {
    display: block;
    margin: 10px auto;
  }
}
.corpo .paginacao a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 0.75em;
  font-weight: normal;
  color: #FFF;
}
.corpo .paginacao a:active,
.corpo .paginacao a:visited {
  color: #FFF;
}
.corpo .post {
  float: left;
  margin: 0 0 0 85px;
  width: 53.41880341880342%;
  padding-bottom: 50px;
}
.corpo .post .texto {
  padding: 5px;
  background-color: #fff;
  position: relative;
}
.corpo .post .texto img {
  max-width: 100%;
}
.corpo .post .texto .data {
  width: 46px;
  height: 81px;
  background: url('../_imgs/layout/data-detalhe.png') center top no-repeat;
  color: #fff;
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
}
.corpo .post .texto .data .dia {
  display: block;
  line-height: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  padding-top: 13px;
}
.corpo .post .texto .data .mes {
  display: block;
  line-height: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1em;
  font-weight: normal;
  padding-top: 2px;
}
.corpo .post .texto .data .ano {
  display: block;
  line-height: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 0.75em;
  font-weight: normal;
  padding-top: 3px;
}
.corpo .post .texto h2 {
  color: #A83978;
  line-height: 120%;
  min-height: 63px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  padding: 1.4000000000000001% 0% 1.4000000000000001% 0%;
  margin-left: 62px;
}
.corpo .post .texto .categoria {
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.125em;
  font-weight: normal;
  background-color: #FFE870;
  color: #373435;
  display: inline;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  float: right;
  margin-bottom: -10px;
  position: relative;
  z-index: 999;
}
.corpo .post .texto p {
  font-family: 'Arvo', serif;
  font-size: 0.875em;
  font-weight: normal;
  color: #373435;
  line-height: 120%;
  margin: 10px 0;
  padding: 0% 0% 0% 12%;
}
.corpo .post .paginacao-posts {
  margin: 10px 0;
  height: 30px;
  line-height: 30px;
}
.corpo .post .paginacao-posts .prev {
  float: left;
  text-align: left;
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  padding-left: 5px;
  width: 47%;
  background-color: #A83978;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.corpo .post .paginacao-posts .prev:active,
.corpo .post .paginacao-posts .prev:visited {
  color: #fff;
}
.corpo .post .paginacao-posts .prev:hover {
  color: #00ccff;
}
.corpo .post .paginacao-posts .next {
  float: right;
  text-align: right;
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  padding-right: 5px;
  width: 47%;
  background-color: #A83978;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.corpo .post .paginacao-posts .next:active,
.corpo .post .paginacao-posts .next:visited {
  color: #fff;
}
.corpo .post .paginacao-posts .next:hover {
  color: #00ccff;
}
.corpo .post #comentarios {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #FFE870;
}
.corpo .post #comentarios h2 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  color: #000;
}
.corpo .post #comentarios .comentario {
  border-top: 1px #fff solid;
  padding: 5px 0;
}
.corpo .post #comentarios .comentario h3 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 0.9375em;
  font-weight: normal;
  color: #000;
}
.corpo .post #comentarios .comentario h3 .data {
  font-family: 'Arvo', serif;
  font-size: 0.625em;
  font-weight: normal;
  color: #A83978;
}
.corpo .post #comentarios .comentario p {
  font-family: 'Arvo', serif;
  font-size: 0.8125em;
  font-weight: normal;
  color: #000;
  line-height: 110%;
}
.corpo .post #comentarios-form {
  padding: 5px;
  background-color: #FFE870;
}
.corpo .post #comentarios-form h2 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  color: #000;
}
.corpo .post #comentarios-form form {
  font-size: 0;
}
.corpo .post #comentarios-form form .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 25%;
  font-size: 16px;
}
.corpo .post #comentarios-form form .coluna input {
  display: block;
  background-color: #FFE870;
  width: 99%;
  border: 1px #fff solid;
  margin: 0;
  height: 20px;
  text-indent: 5px;
  color: #000;
  font-family: 'Amatic SC', sans-serif;
  font-size: 0.875em;
  font-weight: normal;
}
.corpo .post #comentarios-form form .coluna input[type=submit] {
  width: 100%;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.corpo .post #comentarios-form form .coluna input::-webkit-input-placeholder {
  color: #000;
}
.corpo .post #comentarios-form form .coluna input:-moz-placeholder {
  color: #000;
}
.corpo .post #comentarios-form form .coluna input::-moz-placeholder {
  color: #000;
}
.corpo .post #comentarios-form form .coluna input:-ms-input-placeholder {
  color: #000;
}
.corpo .post #comentarios-form form .coluna-maior {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 75%;
  font-size: 16px;
}
.corpo .post #comentarios-form form .coluna-maior textarea {
  display: block;
  background-color: #FFE870;
  width: 99%;
  border: 1px #fff solid;
  margin: 0;
  height: 62px;
  color: #000;
  font-family: 'Amatic SC', sans-serif;
  font-size: 0.875em;
  font-weight: normal;
  resize: none;
}
.corpo .post #comentarios-form form .coluna-maior textarea::-webkit-input-placeholder {
  color: #000;
}
.corpo .post #comentarios-form form .coluna-maior textarea:-moz-placeholder {
  color: #000;
}
.corpo .post #comentarios-form form .coluna-maior textarea::-moz-placeholder {
  color: #000;
}
.corpo .post #comentarios-form form .coluna-maior textarea:-ms-input-placeholder {
  color: #000;
}
@media only screen and (min-width: 0px) and (max-width: 880px), only screen and (max-device-width: 1024px) {
  .corpo .post {
    width: 100%;
    margin: 0;
  }
}
.corpo aside {
  float: left;
  margin-left: 20px;
  width: 34.18803418803419%;
}
.corpo aside #cat_recentes {
  list-style: none;
}
.corpo aside #cat_recentes li {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.corpo aside #cat_recentes li a {
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.125em;
  font-weight: normal;
  background-color: #FFE870;
  color: #373435;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
}
.corpo aside #cat_recentes li.hid {
  height: 0;
  overflow: hidden;
}
.corpo aside .abre-categorias {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.125em;
  font-weight: normal;
  background-color: #000;
  color: #00ccff;
  padding: 2px 10px;
}
.corpo aside h3 {
  font-family: 'Arvo', serif;
  font-size: 1.25em;
  font-weight: normal;
  color: #A83978;
  margin-top: 20px;
}
.corpo aside .thumb-post {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  position: relative;
  margin: 0 10px 10px 0;
  background-color: #fff;
  padding: 5px;
  width: 210px;
  min-height: 200px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.corpo aside .thumb-post img {
  width: 210px;
  margin-bottom: 4px;
}
.corpo aside .thumb-post .titulo {
  padding-left: 65px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 0.875em;
  font-weight: normal;
  color: #000;
  line-height: 110%;
}
.corpo aside .thumb-post .data {
  width: 60px;
  height: 80px;
  position: absolute;
  left: 5px;
  bottom: 0;
  background: url('../_imgs/layout/bg-data.png') center top no-repeat;
  text-align: center;
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1em;
  font-weight: normal;
}
.corpo aside .thumb-post .data .dia {
  padding-top: 13px;
  display: block;
  font-size: 24px;
  line-height: 100%;
}
.corpo aside .thumb-post .data .mes {
  padding-top: 2px;
  display: block;
  font-size: 16px;
  line-height: 100%;
}
.corpo aside .thumb-post .data .ano {
  padding-top: 2px;
  display: block;
  font-size: 12px;
  line-height: 100%;
}
.corpo aside .thumb-post:hover {
  background-color: #69E2FF;
}
@media only screen and (min-width: 0px) and (max-width: 880px), only screen and (max-device-width: 1024px) {
  .corpo aside {
    float: none;
    width: 100%;
    margin-left: 0;
  }
  .corpo aside .thumb-post {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin: 10px auto;
  }
}
#input-email {
  display: none !important;
}
