@import 'vars.less';

body{background-color:#00CCFF !important;}
header, #header-spacer{
	@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
		width:100%;
		display:block;
	}
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
		width:27% !important;
		top: 0;
		min-width:0 !important;
		max-width:100% !important;
		float:left;
		min-width:auto;
		padding:0;
		margin:0;
		border:0;
		box-sizing:content-box !important;
	}
}
.corpo{
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
		float:left;
		width: 72%;
		overflow:visible !important;
		padding:0;
		margin:0;
		border:0;
		box-sizing:content-box !important;
	}
	background-color:#00CCFF;
	.borderBox;
	h1{
		.respPadding(0,0,0,85px, 936px);
		.amatic(20px);
		a{
			color:#000;
			&:active, &:visited{color:#000;}
			&:hover{color:#000;}
		}
	}
	h2{
		.amatic(80px);
		color:#EED763;
		line-height: 140%;
	}
	.f{
		.respWidth(520px, 936px);
		float:left;
		.respPadding(0,0,0,85px, 936px);
		.borderBox;
		p.padrao{
			.arvo(14px);
			color:#000;
			line-height:120%;
			margin:10px 0;

		}
	}
	aside{
		float:left;
		.borderBox;
		.respMargin(0,0,0,20px);
		.respMinWidth(320px,936px);
		h2.fit{
			.amatic(20px);
			color:#000;
		}
		.link-alice{
			position:relative;
			height:315px;
			width:100%;
			display:block;
			margin:0 auto;
			width:280px;
			text-align:center;
			.circle1{
				border-radius:100%;
				width:90px;
				height:95px;
				text-align:center;
				line-height:130%;
				padding:35px 20px 0 20px;
				background-color: #000;
				color:@azul;
				position:absolute;
				top:120px;
				left:0;
				.yanone(16px);
			}
			.circle2{
				border-radius:100%;
				width:90px;
				height:90px;
				line-height:90px;
				text-align:center;
				color:#000;
				background-color:#FFE870;
				position:absolute;
				top:205px;
				left:90px;
				.yanone(16px);
			}
		}
		img{display:block;}
		.link-inesfranco{
			width:100%;
			display:block;
			min-height:60px;
			text-align:center;
			img{margin-left:50px;}
		}
	}
	@media only screen and (min-width: 0px) and (max-width: 880px), only screen and (max-device-width:1024px) {
		width:100%;
		display:block;
		.f{
			float:none;
			width:100%;
		}
		aside{
			float:none;
			width:100%;
		}
	}
	@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width:480px){
		aside{margin:0;}
	}
}