@import 'vars.less';

body{background-color:#00CCFF !important;}
header, #header-spacer{
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px){
		width:27% !important;
		top: 0;
		min-width:0 !important;
		max-width:100% !important;
		float:left;
		min-width:auto;
		padding:0;
		margin:0;
		border:0;
		box-sizing:content-box !important;
	}
}
.corpo{
	@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
		width:100%;
		display:block;
		overflow:visible !important;
	}
	background-color:#00CCFF;
	h1{
		padding:0 0 0 85px;
		.amatic(20px);
		a{
			color:#000;
			&:active, &:visited{color:#000;}
			&:hover{color:#000;}
		}
	}
	iframe{float:left;}
	h2.amarelo{
		color:@amarelo;
		.amatic(240px);
		position:absolute;
		top:30px;
		right:60px;
		line-height:100%;
		z-index:9999;
	}
	.f{
		float:left;
		padding:0 0 50px 85px;
		width:60%;
		h3{
			.amatic(40px);
			color:#000;
			padding-left:40px;
		}
		.caixa{
			background-color:#000;
			padding:10px;
			.titulo{
				padding-left:30px;
				.yanone(24px);
				color:@azul;
			}
			.data{
				padding-left:30px;
				color:@azul;
				.arvo(15px);
			}
			.imagem{
				position:relative;
				margin:15px 0 4px 0;
				width:100%;
				img{
					max-width:100%;
				}
				a{
					position:absolute;
					width:55px;
					height:55px;
					line-height:55px;
					top:50%;
					background-color:rgba(28,192,230,.8);
					z-index:999;
					text-align:center;
					font-size:40px;
					color:#000;
					&:active, &:visited{color:#000;}
					&#prev{
						right:0;
					}
					&#next{
						left:0;
					}
				}
			}
			.descritivo{
				.arvo(16px);
				color:#FFF;
				line-height:130%;
			}
		}
		.link-diario{
			.yanone(16px);
			color:#000;
			display: block;
			text-align:right;
			.transition;
			&:active, &:visited{color:#000;}
			&:hover{color:#FFF;}
		}
	}
	#navegacao-paises{
		width:30%;
		float:left;
		margin-top:15%;
		margin-left:20px;
		list-style: none;
		li{
			a{
				background-color:@azul;
				color:#135263;
				padding:2px 10px;
				.yanone(22px);
				.transition;
				&:active, &:visited{}
				&:hover, &.ativo{
					background-color:#000;
					color:@azul;
				}
			}
		}
	}
	aside{
		.respWidth(340px,936px);
		float:right;
		overflow:hidden;
		.respMargin(-150px,0,0,0);
		.link-atual{
			display:block;
			padding:10px 10px 3px 10px;
			background-color:#fff;
			margin:5px 5px 0 0;
			.transition;			
			img{max-width:100%;}
			h2{
				padding-left:50px;
				.amatic(40px);
				color:#000;
			}
			.azul{
				background-color:@azul;
				padding:10px;
				.data{
					.arvo(14px);
					color:#000;
					padding:3px 0 3px 40px;
				}
				h3{
					padding-left:40px;
					line-height:100%;
					color:#000;
					.yanone(22px);
				}
				p{
					.arvo(14px);
					color:#000;
					line-height:120%;
				}
			}
			.aright{
				.yanone(14px);
				padding-top:3px;
				text-align:right;
				color:#000;
			}
		}
		.proximos{
			margin-top:20px;
			h2{
				.amatic(40px);
				color:#000;
			}
			ul{
				li{
					.yanone(22px);
					line-height:115%;
				}
			}
		}
	}
	.passamos{
		clear:both;
		overflow: hidden;
		h2{
			margin-top:20px;
			padding:0 0 0 85px;
			.amatic(40px);
			a{
				background-color:#EED763;
				padding:0 20px;
				text-align:center;
				.yanone();
				font-size:0.4em;
				color:#000;
				height:40px;
				line-height:40px;
				margin-top:7px;
				.inline;
				.transition;
				&:active, &:visited{}
				&:hover{}
			}
		}
		ul{
			padding:0 0 50px 85px;
			list-style: none;
			float:left;
			width:20%;
			box-sizing:border-box;
			li{
				a{
					background-color:@azul;
					color:#135263;
					padding:2px 10px;
					.yanone(22px);
					.transition;
					&:active, &:visited{}
					&:hover, &.ativo{
						background-color:#000;
						color:@azul;
					}
				}
			}
		}
		.thumbs{
			float:left;
			padding-bottom:50px;
			padding-left:30px;
			width:75%;
			a{
				background-color:#000;
				color:@azul;
				.yanone(12px);
				padding:3px;
				margin-bottom:3px;
				.inline;
				.transition;
				.imagem{
					width:150px;
					height:100px;
					position:relative;
					img{
						position:absolute;
						top:0;
						left:0;
						width:150px;
						height:100px;
						z-index:1;
					}
					.overlay{
						position:absolute;
						top:0;
						left:0;
						width:0;
						height:0;
						opacity:0;
						overflow:hidden;
						z-index:2;
						background-color:rgba(28,192,230,.8);
						color:#000;
						text-align:center;
						border-radius:100%;

						-webkit-transition:width .2s ease-in, height .4s ease-in, opacity .5s ease-in, border-radius .5s ease-in;
					   	-moz-transition:width .2s ease-in, height .4s ease-in, opacity .5s ease-in, border-radius .5s ease-in;
					   	-o-transition:width .2s ease-in, height .4s ease-in, opacity .5s ease-in, border-radius .5s ease-in;
					   	transition:width .2s ease-in, height .4s ease-in, opacity .5s ease-in, border-radius .5s ease-in;
						.cidade{
							font-size:16px;
							line-height:100%;
							padding:40px 0 20px 0;							
						}
					}
				}
				&:active, &:visited{color:@azul;}
				&:hover{
					.overlay{
						border-radius:0;
						opacity:1;
						height:100px;
						width:150px;
					}
				}
				&.hidden{
					width:0;
					height:0;
					opacity:0;	
				}
			}
		}
	}
	@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
		h1{
			margin:0;
			padding:0 0 0 9%;
		}
		.f{
			float:none;
			display:block;
			width:100%;
		}
		iframe{
			width:100% !important;	
		}
	}
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
		float:left;
		width: 72%;
		overflow:hidden;
		padding:0;
		margin:0;
		border:0;
		box-sizing:content-box !important;
	}
}