.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.borderBox {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
body {
  background-color: #00CCFF !important;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
  header,
  #header-spacer {
    width: 27% !important;
    top: 0;
    min-width: 0 !important;
    max-width: 100% !important;
    float: left;
    min-width: auto;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box !important;
  }
}
.corpo {
  background-color: #00CCFF;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
  .corpo {
    float: left;
    width: 72%;
    overflow: visible !important;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box !important;
  }
}
.corpo h1 {
  padding: 0 0 0 85px;
  font-family: 'Amatic SC', sans-serif;
  font-size: 5em;
  font-weight: normal;
}
.corpo h2 {
  font-family: 'Arvo', serif;
  font-size: 0.875em;
  font-weight: normal;
  color: #000;
  line-height: 120%;
  margin: 10px 0;
  padding: 0 0 0 85px;
}
.corpo ul {
  padding: 0 0 0 85px;
  list-style: none;
}
.corpo ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 5px;
}
.corpo ul li a {
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.corpo ul li a:hover {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media only screen and (min-width: 0px) and (max-width: 880px), only screen and (max-device-width: 1024px) {
  .corpo h1,
  .corpo h2 {
    margin: 0;
    padding: 0 0 0 9%;
  }
  .corpo ul {
    padding: 0 0 0 9%;
  }
}
