.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.borderBox {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
body {
  background-color: #00CCFF !important;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
  html body .main header {
    left: 0;
    top: 0;
    width: 28%;
    min-width: auto;
    max-width: auto;
    float: left;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
  }
}
.corpo {
  background-color: #00CCFF;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
  .corpo {
    position: absolute;
    left: 28%;
    top: 0;
    width: 72%;
    min-width: auto;
    max-width: auto;
    float: left;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box !important;
    overflow: visible !important;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .corpo {
    width: 68%;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .corpo {
    width: 72%;
  }
}
.corpo h1 {
  padding: 0% 0% 0% 9.081196581196581%;
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.25em;
  font-weight: normal;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  .corpo h1 {
    padding-left: 0;
  }
}
.corpo h1 a {
  color: #000;
}
.corpo h1 a:active,
.corpo h1 a:visited {
  color: #000;
}
.corpo h1 a:hover {
  color: #000;
}
.corpo h1.apptit {
  font-family: 'Amatic SC', sans-serif;
  font-size: 3.125em;
  font-weight: normal;
  color: #000;
  padding: 30px 0 0 115px;
  vertical-align: middle;
}
.corpo h1.apptit img {
  vertical-align: middle;
  margin-right: 15px;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  .corpo h1.apptit {
    padding-left: 0;
  }
}
.corpo h2 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 5em;
  font-weight: normal;
  color: #EED763;
  line-height: 140%;
}
.corpo .links {
  width: 74.78632478632478%;
  margin: 0 auto;
  padding: 40px 0;
  overflow: hidden;
}
.corpo .links a {
  margin: 30px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  .corpo .links {
    width: 100%;
  }
  .corpo .links a {
    width: 100%;
    display: block;
  }
}
