.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.borderBox {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
html {
  font-size: 16px;
  width: 100%;
  min-height: 100%;
}
html body {
  background-color: #F9F9C7;
  width: 100%;
  min-height: 100%;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 481px) and (max-width: 880px) and (orientation: portrait) {
  html body {
    height: auto;
  }
}
html body .main {
  width: 100%;
  min-height: 100%;
  position: relative;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 481px) and (max-width: 880px) and (orientation: portrait) {
  html body .main {
    height: auto;
  }
}
html body .main #header-spacer {
  width: 27.035830618892508%;
  min-width: 240px;
  height: 100%;
  float: left;
  display: block;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 481px) and (max-width: 880px) and (orientation: portrait) {
  html body .main #header-spacer {
    min-width: auto;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  html body .main #header-spacer {
    display: none;
  }
}
html body .main header {
  background: url('../_imgs/layout/bg-menu.jpg') #f9f9c7 top left no-repeat;
  background-size: 100% auto;
  min-height: 100%;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 27.035830618892508%;
  min-width: 240px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
html body .main header #link-home {
  margin: 6.024096385542169% 0% 6.024096385542169% 12.048192771084338%;
  display: block;
}
html body .main header #link-home img {
  width: 120%;
}
html body .main header nav ul {
  list-style: none;
}
html body .main header nav ul li {
  display: block;
  margin: 0 0 0 0;
  padding: 0;
  height: 22px;
  overflow: hidden;
}
html body .main header nav ul li a {
  padding: 0 10px 0 22px;
  margin: 0;
  height: 22px;
  line-height: 24px;
  overflow: hidden;
  font-family: 'Arvo', serif;
  font-size: 0.875em;
  font-weight: normal;
  color: #fff;
  background-color: #000;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main header nav ul li a:active,
html body .main header nav ul li a:visited {
  color: #fff;
}
html body .main header nav ul li a:hover,
html body .main header nav ul li a.ativo {
  background-color: #00ccff;
  color: #000;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  html body .main header {
    width: 100% !important;
    float: none !important;
    height: 188px !important;
    min-height: auto !important;
    display: block  !important;
    padding-bottom: 10px;
    position: relative !important;
    overflow: hidden;
  }
  html body .main header #link-home {
    margin: 5px 0 10px 3px;
    display: block;
    max-width: 100%;
  }
  html body .main header #link-home img {
    max-width: 90%;
  }
  html body .main header nav ul {
    list-style: none;
  }
  html body .main header nav ul li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
  html body .main header nav ul li a {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}
html body .main .corpo {
  width: 72.9641693811075%;
  float: left;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  html body .main .corpo {
    float: none !important;
    display: block !important;
    width: 100% !important;
    position: relative !important;
    height: 285px !important;
    left: 0 !important;
  }
}
