@import 'vars.less';

html{
	font-size:16px;
	width:100%;
	min-height:100%;
	body{
		background-color:#F9F9C7;
		width:100%;
		min-height:100%;
		@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape), only screen and (min-width: 481px) and (max-width: 880px) and (orientation:portrait){height:auto;}
		.main{
			width:100%;
			min-height:100%;
			position:relative;
			@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px),
			only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape),
			only screen and (min-width: 481px) and (max-width: 880px) and (orientation:portrait){
				height:auto;
			}
			#header-spacer{
				.respWidth(415px);
				min-width:240px;
				height:100%;
				float:left;
				display:block;
				@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px),
				only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape),
				only screen and (min-width: 481px) and (max-width: 880px) and (orientation:portrait){
					min-width:auto;
				}
				@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px){
					display:none;
				}				
			}
			header{
				background:url('../_imgs/layout/bg-menu.jpg') #F9F9C7 top left no-repeat;
				background-size:100% auto;
				min-height:100%;
				position:fixed;
				z-index:9;
				left:0;
				top:0;
				.respWidth(415px);
				min-width:240px;
				.transition(all,.1s,ease-in);
				#link-home{
					.respMargin(25px, 0, 25px, 50px, 415px);
					display: block;
					img{width:120%;}
				}
				nav{
					ul{
						list-style:none;
						li{
							display:block;
							margin:0 0 0 0;
							padding:0;
							height:22px;
							overflow:hidden;
							a{
								padding:0 10px 0 22px;
								margin:0;
								height:22px;
								line-height:24px;
								overflow:hidden;
								.arvo(14px);
								color:#fff;
								background-color:#000;
								display:inline-block;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover, &.ativo{
									background-color:@azul;
									color:#000;
								}
							}
						}
					}
				}
				@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px){
					width:100% !important;
					float:none !important;
					height:188px !important;
					min-height:auto !important;
					display: block  !important;
					padding-bottom:10px;
					position:relative !important;
					overflow:hidden;
					#link-home{
						margin:5px 0 10px 3px;
						display: block;
						max-width:100%;
						img{max-width:90%;}
					}
					nav{
						ul{
							list-style:none;
							li{
								.inline;
								a{
									.transition;
									&:active, &:visited{}
									&:hover, &.ativo{}
								}
							}
						}
					}
				}
			}
			.corpo{
				.respWidth(@largura_referencia - 415px);
				float:left;
				@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px){
					float:none !important;
					display:block !important;
					width:100% !important;
					position:relative !important;
					height:285px !important;
					left:0 !important;
				}
			}
		}		
	}
}