@import 'vars.less';

body{background-color:#00CCFF !important;}
header, #header-spacer{
	@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
		width:100%;
		display:block;
	}
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
		width:27% !important;
		top: 0;
		min-width:0 !important;
		max-width:100% !important;
		float:left;
		min-width:auto;
		padding:0;
		margin:0;
		border:0;
		box-sizing:content-box !important;		
	}
}
header{
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
		position:fixed !important;		
	}
}
.corpo{
	@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
		width:100%;
		display:block;
		overflow:visible !important;
	}
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
		float:left;
		width: 72%;
		overflow:hidden;
		padding:0;
		margin:0;
		border:0;
		box-sizing:content-box !important;		
	}
	background-color:#00CCFF;
	h1{
		padding:0 0 0 85px;
		.arvo(20px);
		@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
			float:none;
			width:100%;
			margin:0;
			padding:0;
		}
	}
	h2.categoria{
		.amatic(20px);
		color:#000;
		background-color:#EED763;
		padding:2px 10px;
		margin:10px 0 10px 85px;
		.inline;
	}
	ul#lista-posts{
		list-style:none;
		padding:0 0 0 85px;
		font-size: 0;
		li{
			.inline;
			width:220px;
			min-height: 230px;
			margin:0 10px 20px 0;
			a{
				font-size: 16px;
				position:relative;
				height: 230px;
				background-color:#fff;
				display:block;
				.transition;
				.imagem{
					width:208px;
					height:128px;
					padding:6px 6px 0 6px;
					margin-bottom:;
					overflow:hidden;
					img{
						width:208px;						
					}
				}
				.data{
					position:absolute;
					overflow: hidden;
					left:10px;
					bottom:20px;
					width:46px;
					height:80px;
					text-align:center;
					background:url('../_imgs/layout/bg-data.png') center top no-repeat;
					color:#fff;
					span{display:block;}
					.dia{.yanone(24px); line-height:100%; padding-top:13px;}
					.mes{.yanone(16px); line-height:100%; padding-top:2px;}
					.ano{.yanone(12px); line-height:100%; padding-top:2px;}
				}
				.titulo{
					.yanone(14px);
					padding:8px 6px 0 65px;
					color:#373435;
					line-height:120%;
				}
				.barra{
					.transition;
					position:absolute;
					left:0;
					bottom:0;
					padding:0 5px;
					width:210px;
					background-color:#69E2FF;
					height:20px;
					line-height:20px;
					color:#373435;
					.arvo(10px,normal,16px);
					span{ float:right; .yanone(15px); line-height:243%; }
				}
				&:hover{
					background-color:#69E2FF;
					.barra{
						background-color:#A83978;
						color:#fff;
					}
				}
			}
		}
		@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
			float:none;
			width:100%;
			margin:0;
			padding:0;
			li{
				display:block;
				margin:10px auto;
			}
		}
	}
	.paginacao{
		a{
			.yanone(12px);
			color:#FFF;
			&:active, &:visited{color:#FFF;}
		}
	}
	.post{
		float:left;
		margin:0 0 0 85px;
		.respWidth(500px,936px);
		padding-bottom:50px;
		.texto{
			padding:5px;
			background-color:#fff;
			position:relative;
			img{
				max-width:100%;
			}
			.data{
				width:46px;
				height:81px;
				background:url('../_imgs/layout/data-detalhe.png') center top no-repeat;
				color:#fff;
				position:absolute;
				top:0;
				left:10px;
				text-align: center;
				.dia{
					display:block;
					line-height:100%;
					.yanone(24);
					padding-top:13px;
				}
				.mes{
					display:block;
					line-height:100%;
					.yanone(16);
					padding-top:2px;
				}
				.ano{
					display:block;
					line-height:100%;
					.yanone(12);
					padding-top:3px;
				}
			}
			h2{
				color:#A83978;
				line-height:120%;
				min-height:63px;
				.yanone(24px);
				.respPadding(7px,0,7px,0,500px);
				margin-left:62px;
			}
			.categoria{
				.amatic(18px);
				background-color:#FFE870;
				color:#373435;
				display:inline;
				padding:0 10px;
				height:20px;
				line-height:20px;
				float:right;
				margin-bottom:-10px;
				position:relative;
				z-index:999;
			}
			p{
				.arvo(14px);
				color:#373435;
				line-height:120%;
				margin:10px 0;
				.respPadding(0,0,0,60px,500px);
			}
		}
		.paginacao-posts{
			margin:10px 0;
			height:30px;
			line-height:30px;
			.prev{
				float:left;
				text-align:left;
				.amatic(24px);
				padding-left:5px;
				width:47%;
				background-color: #A83978;
				color:#fff;
				.transition;
				&:active, &:visited{ color:#fff; }
				&:hover{ color:@azul;}
			}
			.next{
				float:right;
				text-align: right;
				.amatic(24px);
				padding-right:5px;
				width:47%;
				background-color: #A83978;
				color:#fff;
				.transition;
				&:active, &:visited{ color:#fff; }
				&:hover{ color:@azul;}
			}
		}
		#comentarios{
			padding:5px;
			margin-bottom:5px;
			background-color:#FFE870;
			h2{
				.amatic(24px);
				color:#000;	
			}
			.comentario{
				border-top:1px #fff solid;
				padding:5px 0;
				h3{
					.amatic(15px);
					color:#000;
					.data{
						.arvo(10px);
						color:#A83978;
					}
				}
				p{
					.arvo(13px);
					color:#000;
					line-height:110%;
				}
			}
		}
		#comentarios-form{
			padding:5px;
			background-color:#FFE870;
			h2{
				.amatic(24px);
				color:#000;				
			}
			form{
				font-size:0;
				.coluna{
					.inline;
					width:25%;
					font-size: 16px;
					input{
						display: block;
						background-color:#FFE870;
						width:99%;
						border:1px #fff solid;
						margin:0;
						height:20px;
						text-indent:5px;
						color:#000;
						.amatic(14px);
						&[type=submit]{
							width:100%;
							background-color:#fff;
							text-align:center;
							cursor:pointer;
							.transition;
							&:hover{

							}
						}
						&::-webkit-input-placeholder {color:    #000;}
						&:-moz-placeholder {color:    #000;}
						&::-moz-placeholder {color:    #000;}
						&:-ms-input-placeholder {color:    #000;}
					}
				}
				.coluna-maior{
					.inline;
					width:75%;
					font-size: 16px;
					textarea{
						display: block;
						background-color:#FFE870;
						width:99%;
						border:1px #fff solid;
						margin:0;
						height:62px;
						color:#000;
						.amatic(14px);
						resize:none;
						&::-webkit-input-placeholder {color:    #000;}
						&:-moz-placeholder {color:    #000;}
						&::-moz-placeholder {color:    #000;}
						&:-ms-input-placeholder {color:    #000;}
					}
				}
			}
		}
		@media only screen and (min-width: 0px) and (max-width: 880px), only screen and (max-device-width:1024px){
			width:100%;
			margin:0;
		}
	}
	aside{
		float:left;
		margin-left:20px;
		.respWidth(320px,936px);
		#cat_recentes{
			list-style:none;
			li{
				.transition;
				a{
					.amatic(18px);
					background-color:#FFE870;
					color:#373435;
					padding:0 10px;
					height:20px;
					line-height:20px;
				}
				&.hid{
					height:0;
					overflow:hidden;
				}
			}
		}
		.abre-categorias{
			.yanone(18px);
			background-color:#000;
			color:@azul;
			padding:2px 10px;
		}
		h3{
			.arvo(20px);
			color:#A83978;
			margin-top:20px;
		}
		.thumb-post{
			.inline;
			position:relative;
			margin:0 10px 10px 0;
			background-color:#fff;
			padding:5px;
			width:210px;
			min-height:200px;
			.transition;
			img{
				width:210px;
				margin-bottom:4px;				
			}
			.titulo{
				padding-left:65px;
				.yanone(14px);
				color:#000;
				line-height:110%;
			}
			.data{
				width:60px;
				height:80px;
				position:absolute;
				left:5px;
				bottom:0;
				background:url('../_imgs/layout/bg-data.png') center top no-repeat;
				text-align:center;
				color:#fff;
				.yanone(16px);
				.dia{padding-top:13px; display:block; font-size:24px; line-height:100%;}
				.mes{padding-top:2px; display:block; font-size:16px; line-height:100%;}
				.ano{padding-top:2px; display:block; font-size:12px; line-height:100%;}
			}
			&:hover{ background-color:#69E2FF;}
		}
		@media only screen and (min-width: 0px) and (max-width: 880px), only screen and (max-device-width:1024px){
			float:none;
			width:100%;
			margin-left:0;
			.thumb-post{
				.inline;
				margin:10px auto;
			}
		}
	}
}