.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.borderBox {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
body {
  background-color: #00CCFF !important;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  header,
  #header-spacer {
    width: 100%;
    display: block;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
  header,
  #header-spacer {
    width: 27% !important;
    top: 0;
    min-width: 0 !important;
    max-width: 100% !important;
    float: left;
    min-width: auto;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box !important;
  }
}
.corpo {
  background-color: #00CCFF;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
  .corpo {
    float: left;
    width: 72%;
    overflow: visible !important;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box !important;
  }
}
.corpo h1 {
  padding: 0% 0% 0% 9.081196581196581%;
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.25em;
  font-weight: normal;
}
.corpo h1 a {
  color: #000;
}
.corpo h1 a:active,
.corpo h1 a:visited {
  color: #000;
}
.corpo h1 a:hover {
  color: #000;
}
.corpo h2 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 5em;
  font-weight: normal;
  color: #EED763;
  line-height: 140%;
}
.corpo .f {
  width: 55.55555555555556%;
  float: left;
  padding: 0% 0% 0% 9.081196581196581%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.corpo .f p.padrao {
  font-family: 'Arvo', serif;
  font-size: 0.875em;
  font-weight: normal;
  color: #000;
  line-height: 120%;
  margin: 10px 0;
}
.corpo aside {
  float: left;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  margin: 0% 0% 0% 1.3029315960912053%;
  min-width: 34.18803418803419%;
}
.corpo aside h2.fit {
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  color: #000;
}
.corpo aside .link-alice {
  position: relative;
  height: 315px;
  width: 100%;
  display: block;
  margin: 0 auto;
  width: 280px;
  text-align: center;
}
.corpo aside .link-alice .circle1 {
  border-radius: 100%;
  width: 90px;
  height: 95px;
  text-align: center;
  line-height: 130%;
  padding: 35px 20px 0 20px;
  background-color: #000;
  color: #00ccff;
  position: absolute;
  top: 120px;
  left: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1em;
  font-weight: normal;
}
.corpo aside .link-alice .circle2 {
  border-radius: 100%;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #000;
  background-color: #FFE870;
  position: absolute;
  top: 205px;
  left: 90px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1em;
  font-weight: normal;
}
.corpo aside img {
  display: block;
}
.corpo aside .link-inesfranco {
  width: 100%;
  display: block;
  min-height: 60px;
  text-align: center;
}
.corpo aside .link-inesfranco img {
  margin-left: 50px;
}
@media only screen and (min-width: 0px) and (max-width: 880px), only screen and (max-device-width: 1024px) {
  .corpo {
    width: 100%;
    display: block;
  }
  .corpo .f {
    float: none;
    width: 100%;
  }
  .corpo aside {
    float: none;
    width: 100%;
  }
}
