.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.borderBox {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
body {
  background-color: #00CCFF !important;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
  header,
  #header-spacer {
    width: 27% !important;
    top: 0;
    min-width: 0 !important;
    max-width: 100% !important;
    float: left;
    min-width: auto;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box !important;
  }
}
.corpo {
  background-color: #00CCFF;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  .corpo {
    width: 100%;
    display: block;
    overflow: visible !important;
  }
}
.corpo h1 {
  padding: 0 0 0 85px;
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.25em;
  font-weight: normal;
}
.corpo h1 a {
  color: #000;
}
.corpo h1 a:active,
.corpo h1 a:visited {
  color: #000;
}
.corpo h1 a:hover {
  color: #000;
}
.corpo iframe {
  float: left;
}
.corpo h2.amarelo {
  color: #fce66e;
  font-family: 'Amatic SC', sans-serif;
  font-size: 15em;
  font-weight: normal;
  position: absolute;
  top: 30px;
  right: 60px;
  line-height: 100%;
  z-index: 9999;
}
.corpo .f {
  float: left;
  padding: 0 0 50px 85px;
  width: 60%;
}
.corpo .f h3 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  color: #000;
  padding-left: 40px;
}
.corpo .f .caixa {
  background-color: #000;
  padding: 10px;
}
.corpo .f .caixa .titulo {
  padding-left: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  color: #00ccff;
}
.corpo .f .caixa .data {
  padding-left: 30px;
  color: #00ccff;
  font-family: 'Arvo', serif;
  font-size: 0.9375em;
  font-weight: normal;
}
.corpo .f .caixa .imagem {
  position: relative;
  margin: 15px 0 4px 0;
  width: 100%;
}
.corpo .f .caixa .imagem img {
  max-width: 100%;
}
.corpo .f .caixa .imagem a {
  position: absolute;
  width: 55px;
  height: 55px;
  line-height: 55px;
  top: 50%;
  background-color: rgba(28, 192, 230, 0.8);
  z-index: 999;
  text-align: center;
  font-size: 40px;
  color: #000;
}
.corpo .f .caixa .imagem a:active,
.corpo .f .caixa .imagem a:visited {
  color: #000;
}
.corpo .f .caixa .imagem a#prev {
  right: 0;
}
.corpo .f .caixa .imagem a#next {
  left: 0;
}
.corpo .f .caixa .descritivo {
  font-family: 'Arvo', serif;
  font-size: 1em;
  font-weight: normal;
  color: #FFF;
  line-height: 130%;
}
.corpo .f .link-diario {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #000;
  display: block;
  text-align: right;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.corpo .f .link-diario:active,
.corpo .f .link-diario:visited {
  color: #000;
}
.corpo .f .link-diario:hover {
  color: #FFF;
}
.corpo #navegacao-paises {
  width: 30%;
  float: left;
  margin-top: 15%;
  margin-left: 20px;
  list-style: none;
}
.corpo #navegacao-paises li a {
  background-color: #00ccff;
  color: #135263;
  padding: 2px 10px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.375em;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.corpo #navegacao-paises li a:hover,
.corpo #navegacao-paises li a.ativo {
  background-color: #000;
  color: #00ccff;
}
.corpo aside {
  width: 36.324786324786324%;
  float: right;
  overflow: hidden;
  margin: -9.77198697068404% 0% 0% 0%;
}
.corpo aside .link-atual {
  display: block;
  padding: 10px 10px 3px 10px;
  background-color: #fff;
  margin: 5px 5px 0 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.corpo aside .link-atual img {
  max-width: 100%;
}
.corpo aside .link-atual h2 {
  padding-left: 50px;
  font-family: 'Amatic SC', sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  color: #000;
}
.corpo aside .link-atual .azul {
  background-color: #00ccff;
  padding: 10px;
}
.corpo aside .link-atual .azul .data {
  font-family: 'Arvo', serif;
  font-size: 0.875em;
  font-weight: normal;
  color: #000;
  padding: 3px 0 3px 40px;
}
.corpo aside .link-atual .azul h3 {
  padding-left: 40px;
  line-height: 100%;
  color: #000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.375em;
  font-weight: normal;
}
.corpo aside .link-atual .azul p {
  font-family: 'Arvo', serif;
  font-size: 0.875em;
  font-weight: normal;
  color: #000;
  line-height: 120%;
}
.corpo aside .link-atual .aright {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 0.875em;
  font-weight: normal;
  padding-top: 3px;
  text-align: right;
  color: #000;
}
.corpo aside .proximos {
  margin-top: 20px;
}
.corpo aside .proximos h2 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  color: #000;
}
.corpo aside .proximos ul li {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.375em;
  font-weight: normal;
  line-height: 115%;
}
.corpo .passamos {
  clear: both;
  overflow: hidden;
}
.corpo .passamos h2 {
  margin-top: 20px;
  padding: 0 0 0 85px;
  font-family: 'Amatic SC', sans-serif;
  font-size: 2.5em;
  font-weight: normal;
}
.corpo .passamos h2 a {
  background-color: #EED763;
  padding: 0 20px;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 0.75em;
  font-weight: normal;
  font-size: 0.4em;
  color: #000;
  height: 40px;
  line-height: 40px;
  margin-top: 7px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.corpo .passamos ul {
  padding: 0 0 50px 85px;
  list-style: none;
  float: left;
  width: 20%;
  box-sizing: border-box;
}
.corpo .passamos ul li a {
  background-color: #00ccff;
  color: #135263;
  padding: 2px 10px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.375em;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.corpo .passamos ul li a:hover,
.corpo .passamos ul li a.ativo {
  background-color: #000;
  color: #00ccff;
}
.corpo .passamos .thumbs {
  float: left;
  padding-bottom: 50px;
  padding-left: 30px;
  width: 75%;
}
.corpo .passamos .thumbs a {
  background-color: #000;
  color: #00ccff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 0.75em;
  font-weight: normal;
  padding: 3px;
  margin-bottom: 3px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.corpo .passamos .thumbs a .imagem {
  width: 150px;
  height: 100px;
  position: relative;
}
.corpo .passamos .thumbs a .imagem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100px;
  z-index: 1;
}
.corpo .passamos .thumbs a .imagem .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 2;
  background-color: rgba(28, 192, 230, 0.8);
  color: #000;
  text-align: center;
  border-radius: 100%;
  -webkit-transition: width 0.2s ease-in, height 0.4s ease-in, opacity 0.5s ease-in, border-radius 0.5s ease-in;
  -moz-transition: width 0.2s ease-in, height 0.4s ease-in, opacity 0.5s ease-in, border-radius 0.5s ease-in;
  -o-transition: width 0.2s ease-in, height 0.4s ease-in, opacity 0.5s ease-in, border-radius 0.5s ease-in;
  transition: width 0.2s ease-in, height 0.4s ease-in, opacity 0.5s ease-in, border-radius 0.5s ease-in;
}
.corpo .passamos .thumbs a .imagem .overlay .cidade {
  font-size: 16px;
  line-height: 100%;
  padding: 40px 0 20px 0;
}
.corpo .passamos .thumbs a:active,
.corpo .passamos .thumbs a:visited {
  color: #00ccff;
}
.corpo .passamos .thumbs a:hover .overlay {
  border-radius: 0;
  opacity: 1;
  height: 100px;
  width: 150px;
}
.corpo .passamos .thumbs a.hidden {
  width: 0;
  height: 0;
  opacity: 0;
}
@media only screen and (min-width: 0px) and (max-width: 480px), only screen and (max-device-width: 480px) {
  .corpo h1 {
    margin: 0;
    padding: 0 0 0 9%;
  }
  .corpo .f {
    float: none;
    display: block;
    width: 100%;
  }
  .corpo iframe {
    width: 100% !important;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px), only screen and (max-width: 880px) {
  .corpo {
    float: left;
    width: 72%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box !important;
  }
}
