@azul:#00CCFF;
@amarelo:#FCE66E;

@largura_referencia:1535px;
@altura_referencia:788px;

.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}
.verdana(@fsize:12px, @fweight:normal, @rootem:16px){
	font-family:'Verdana','Arial',sans-serif;
	font-size:unit(@fsize/@rootem, em);
	font-weight:@fweight;
}
.arvo(@fsize:12px, @fweight:normal, @rootem:16px){
	font-family: 'Arvo', serif;
	font-size:unit(@fsize/@rootem, em);
	font-weight:@fweight;
}
.amatic(@fsize:12px, @fweight:normal, @rootem:16px){
	font-family: 'Amatic SC', sans-serif;
	font-size:unit(@fsize/@rootem, em);
	font-weight:@fweight;
}
.yanone(@fsize:12px, @fweight:normal, @rootem:16px){
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:unit(@fsize/@rootem, em);
	font-weight:@fweight;
}
.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;  
   -moz-transition:@prop @dur @type;  
   -o-transition:@prop @dur @type;  
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }

.offscreen{
	display:block;
	text-indent:-999999999px;
}

.align-right{
	text-align:right;
}

.absolute(@x:0, @y:0){
	position:absolute;
	left:@x;
	top:@y;
}
.borderBox{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}
.respWidth(@width,@context:@largura_referencia){ width:percentage(@width/@context); }
.respMinWidth(@width,@context:@largura_referencia){ min-width:percentage(@width/@context); }
.respPadding(@t:0,@r:0,@b:0,@l:0, @context:@largura_referencia){ padding:percentage(@t/@context) percentage(@r/@context) percentage(@b/@context) percentage(@l/@context); }
.respMargin(@t:0,@r:0,@b:0,@l:0, @context:@largura_referencia){ margin:percentage(@t/@context) percentage(@r/@context) percentage(@b/@context) percentage(@l/@context); }